body {
    background-color: #1d1335;
}

img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes neon {
    from {
        filter: drop-shadow(0 0 0 var(--cor-neon));
    }
    to {
        filter: drop-shadow(0 0 30px var(--cor-neon));
    }
}

img {
    animation: neon 3s alternate infinite ease-in-out;
}

.logo-phppa {
    --cor-neon: #ff3366;
}

.box {
    --cor-neon: #3de7f2;
}